### build
# disabled for now, because we aren't publishing an npm package yet
# /dist

### IDEs
/.idea/

### Logs
*.log

### Dependency directories
/node_modules/

### dotenv environment variables file
.env

### Build artefact
# /dist/

### Test artefact
/coverage/
