name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16, 18]
        orbitjs: [0.16.7, 0.17.0]
        experimental: [false]
        include:
          - node: 17
            experimental: true
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: echo "::set-output name=dir::$(yarn cache dir)"
        id: yarn-cache-dir-path
      - uses: actions/cache@v4
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: |
          echo "`jq '.devDependencies."@orbit/data"="${{ matrix.orbitjs }}"' package.json`" > package.json
          echo "`jq '.devDependencies."@orbit/memory"="${{ matrix.orbitjs }}"' package.json`" > package.json
      - run: yarn install
      - run: yarn test
      - run: yarn build

#   coverage:
#     needs: test
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - uses: actions/setup-node@v3
#         with:
#           node-version: 14
#       - run: echo "::set-output name=dir::$(yarn cache dir)"
#         id: yarn-cache-dir-path
#       - uses: actions/cache@v3
#         with:
#           path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
#           key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
#           restore-keys: |
#             ${{ runner.os }}-yarn-
#       - run: yarn install
#       - uses: paambaati/codeclimate-action@v3.0.0
#         env:
#           CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
#         with:
#           coverageCommand: yarn test --coverage
